table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: sans-serif;
  th,
  td {
    border: 4px solid #f7d0d0;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #e0a5c6;
    font-family: "Delius Swash Caps", sans-serif;
    font-size: 18px;
  }
  img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
h1 {
  font-family: "Delius Swash Caps", sans-serif;
  padding-bottom: 100px;
  padding-top: 100px;
  margin-left: 620px;
  width: 300px;
  border-width: 3px;
  border: solid #e0a5c6;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 35px;
}
p {
  margin-left: 660px;
  font-family: "Delius Swash Caps", sans-serif;
}
h2 {
  font-family: "Delius Swash Caps", sans-serif;
  text-align: center;
}
